@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration:none;
}

header{
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: #fff;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav a {
    text-decoration: none;
    color: #888;
    font-size: 12px;
    font-weight: 500;
    padding: 1em 2em;
}

.nav a#main-event {
    margin-left: 2em;
    margin-right: 5em;
    font-weight: 600;
    color: #000;
}

.nav .nav-items.primary a {
    color: rgb(110, 110, 110);
}

.width_flex {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.detail_img {
	width: 50%;
}

.detail_img ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.detail_img img {
	display: block;
	width: 100%;
}

.product_ment {
	width: 50%;
	padding: 60px;
	font-size: 14px;
	color: #888;
	line-height: 160%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product_title{
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
}

.number {
	width: 50%;
}

.number img {
	width: 100%;
}

.info2 {
	width: 50%;
	padding: 10% 160px;
	box-sizing: border-box;
}

.info2_block a, .info2_block label {
	display: block;
	padding: 5% 0;
	font-size: 16px;
	color: #333;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
	position: relative;
	cursor: pointer;
}

.info2_block .fa-chevron-down {
	position: absolute;
	top: 40%;
	right:0;
}

.info2_block .group-list {
	max-height: 0;
	margin: 0;
	background:#eee;
	overflow: hidden;
	-webkit-transition: max-height .5s ease-in-out;
	transition: max-height .5s ease-in-out;
}

.info2_block .group-list .centents{
	margin: 5%;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}
.info2_block .info2_list input[type=checkbox]:checked + label + div {
	max-height: 100%;
}
.info2_block .info2_list input[type=checkbox]:checked + label > i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.info2_block .bottom-line {
	border-bottom: 1px solid #c8c8c8;
}


.detail_info_block {
	width: 50%;
	box-sizing: border-box;
	padding: 160px;
	margin: 100px 0 0;
	position: relative;
}

.detail_info {
	position: sticky;
	position: -webkit-sticky;
	top: 100px;
}
.info_flex {
	display: flex;
	justify-content: space-between;
}
.detail_info .name1 {
	color: #999;
	font-size: 16px;
	display: block;
}

.detail_info .name2 {
	color: #333;
	font-size: 18px;
	display: block;
	font-weight: 600;
	margin: 0 0 10px;
}

.detail_info .price {
	color: #888;
	font-size: 16px;
	display: block;
	margin-bottom: 30px;
}

.detail_info .btn12 {
	border-radius: 100px;
	padding: 15px 0;
	margin: 20px 0;
	width: 48%;
	display: inline-block;
	border: 1px solid #333;
	text-align: center;
	font-size: 14px;
}

.detail_info .btn1 {
	color: #fff;
	background: #333;
}

.detail_info .btn1:hover {
	color: #333;
	background: #fff;
	transition: all 0.3s ease;
}
.detail_info .btn1:not(:hover) {
  transition: all 0.3s ease;
}

.detail_info .btn2 {
	color: #333;
}

.detail_info .btn2:hover {
	color: #fff;
	background: #333;
	transition: all 0.3s ease;
}
.detail_info .btn2:not(:hover) {
  transition: all 0.3s ease;
}

.detail_info .cship {
	color: #888;
	margin: 10px 0;
	font-size: 16px;
	display: block;
}
.detail_info .link{
	color: #333;
	margin: 10px 0;
	font-size: 16px;
	display: block;
}
/* 푸터 시작 */
.line {
    position: absolute;
    width: 95%;
    margin-top: 100px;
    border: 1px solid #888888;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    height: 60px;
}

.social a, .service a, .co{
    font-size: 12px;
    line-height: 160%;
    color: #333;
}
/*푸터 끝*/


  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 500px;
    max-height: 80%;
    margin-top: 5%;
    cursor: pointer;
  }

  .modal-content img {
    display: block;
    width: 100%;
    max-height: 100%;
    margin: auto;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #333;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;

    color: #eee;
    text-decoration: none;
    cursor: pointer;
  }

  .ct {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  color: #333;
  cursor: pointer;
  gap: 310px;
}

.chos {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: white;
  color: black;
  transition: right 0.5s ease;
}
.chos ul {
	list-style: none;
}
.chos .top {
	display: flex;
	gap: 20px;
	margin-top: 100px;
}
.chos .bottom {
	display: flex;
	gap: 20px;
}
.ct.open .chos {
  right: 0;
}
/*메뉴*/
    .fullscreen-menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 1);
      z-index: 9999;
      display: none;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 350px;
    }

    .fullscreen-menu img{
        margin-top: -100px;
    }

    .menu-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 6px;
    }

    .menu-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }

    .fullscreen-menu.active {
      display: flex;
    }

    .fullscreen-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .fullscreen-menu .menu li {
      margin: 0.5em 0;
    }

    .fullscreen-menu .service li a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
    }

    .fullscreen-menu .menu li a {
      color: #fff;
      text-decoration: none;
      font-size: 36px;
      font-weight: 300;
    position: relative;
      overflow: hidden;
    }

    .fullscreen-menu .menu li a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: width 0.3s ease-in-out;
    }

    .fullscreen-menu .menu li a:hover::after {
      width: 100%;
      transition: width 0.3s ease-in-out;
    }

    .fullscreen-menu .close-btn {
      position: absolute;
      top: 0.3em;
      right: 0.8em;
      color: #fff;
      font-size: 36px;
      cursor: pointer;
    }

    @media (max-width: 900px) {
      .nav {
        display: none !important;
      }
      .site-content {
        width: 100vw;
        left: 0;
      }
      .clipper-left {
        left: 0;
        width: 50vw;
      }